/**
 *** Components CSS ***
**/

.score {
    font-size: 22px;
    margin: 8px
}

.score-stats {
    margin: 4px;
    display: flex;
    justify-content: space-around;
}

.question {
    font-weight: 400;
    text-align: left;
    padding: 8px;
}

.q-wrong {
    color: rgb(255, 94, 94);
}

.q-right  {
    color: rgb(18, 153, 79);
}

.list-options {
    padding: 6px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.default-items {
    padding: 3px 15px;
    justify-self: center;
    align-self: center;
    border: 2px solid transparent;
    border-radius: 7px;
}

.default-items:hover {
    cursor: pointer;
}

@media (max-width: 490px) {
    .score-stats {
        justify-content: space-between;
    }

    .question {
        padding: 0;
    }

    .default-items {
        padding: 3px 5px;
    }
}

.selected {
    font-weight: 400;
    color: rgb(77, 74, 240);
    border-color: rgb(77, 74, 240, 0.5);
    background-color: rgb(77, 74, 240, 0.25);
}

.selected-right {
    font-weight: 400;
    color: rgb(18, 153, 79);
    border-color: rgb(0, 194, 87);
    background-color: rgba(0, 194, 87, 0.1);
}

.show-answer-btn {
    color: rgb(66, 66, 66);
    margin: 8px;
    padding: 8px 10px 10px;
}

.show-answer-btn:hover {
    color: black;
    font-weight: 400;
}

.exit-btn {
    margin: 8px;
    padding: 4px;
    font-size: 12px;
    border-radius: 3px;
    color: rgb(87, 87, 87);
}

.exit-btn:hover {
    color: black;
}

.select-warning {
    color: red;
    font-weight: 400;
    padding: 8px;
}

.warning-btn {
    margin: 8px;
    padding: 8px 12px;
}

.end-game {
    font-weight: 400;
    text-align: start;
    padding: 6px 36px;
    max-width: 480px;
}

.end-quest {
    cursor: pointer;
    padding: 8px 5px;
    border: 1px solid transparent;
}

.end-quest:hover {
    border-radius: 5px;
    border-color: #ccc;
    transform: scale(1.01);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 490px) {
    .end-game {
        padding: 6px;
    }
}

.quest-default {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quest-selected {
    white-space: unset;
}

.quest-selected:hover {
    transform: unset;
    box-shadow: unset;
}

.end-list {
    list-style: none;
}

.end-list > li {
    padding: 1.5px 6px;
}

.loading-anim {
    height: 24px;
    width: 100%;
    margin: 3px;
    border-radius: 0;
    color: transparent;
    background-color: rgba(78, 78, 78, 0.35);
    animation: loading 900ms ease infinite;
}

.loading-anim:hover {
    cursor: unset;
}

@keyframes loading {
    0% {
        background-position: 100%;
    }

    50% {
        background-color: rgba(56, 56, 56, 0.55);
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}