/**
 *** Components CSS ***
**/

.score {
    font-size: 22px;
}

.score > * {
    padding: 8px;
}

.score-stats {
    display: flex;
    justify-content: space-around;
}

.question {
    font-weight: 400;
    text-align: left;
    padding: 8px;
}

.q-wrong {
    color: rgb(255, 94, 94);
}

.q-right  {
    color: rgb(18, 153, 79);
}

.list-options {
    padding: 6px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.default-items {
    padding: 3px 15px;
    justify-self: center;
    border: 2px solid transparent;
    border-radius: 7px;
}

.default-items:hover {
    cursor: pointer;
}

.selected {
    font-weight: 400;
    color: rgb(77, 74, 240);
    border-color: rgb(77, 74, 240, 0.5);
    background-color: rgb(77, 74, 240, 0.25);
}

.selected-right {
    font-weight: 400;
    color: rgb(18, 153, 79);
    border-color: rgb(0, 194, 87);
    background-color: rgba(0, 194, 87, 0.1);
}

.show-reset-btn {
    color: rgb(87, 87, 87);
    margin: 8px;
    padding: 8px 10px 10px;
}

.show-reset-btn:hover {
    color: black;
    font-weight: 400;
}

.select-warning {
    color: red;
    font-weight: 400;
    padding: 8px;
}

.warning-btn {
    margin: 8px;
    padding: 8px 12px;
}

.end-game {
    font-weight: 400;
    text-align: start;
    padding: 6px 36px;
    max-width: 480px;
}

.end-quest {
    cursor: pointer;
    padding: 8px 5px;
    border: 1px solid transparent;
}

.end-quest:hover {
    border-radius: 5px;
    border-color: #ccc;
    transform: scale(1.01);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.quest-default {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quest-selected {
    white-space: unset;
}

.end-list {
    list-style: none;
}

.end-list > li {
    padding: 1.5px 6px;
}